S3_ACCESS_KEY=
S3_SECRET_ACCESS_KEY=
S3_BUCKET=
S3_REGION=
MAIL_USER=<yourgmail@gmail.com>
MAIL_PASS=<yourapppassword>
FIREBASE_SERVICE_ACCOUNT_PATH=<yourserviceaccountkeypath>

GOOGLE_WEB_CLIENT_ID=your-web-client-id.apps.googleusercontent.com
GOOGLE_WEB_CLIENT_SECRET=your-web-client-secret-if-you-need-it
